@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>This is an eShop Website. Please log in first before adding to cart, otherwise, you will lost all items in your cart</h5>
</div>