<div class="card" style="width: 18rem;">
    <div class="card-body">
        <p class="card-text">@Model.UserId</p>
        <h5 class="card-title">@Model.FullName</h5>
        <p class="card-text">@Model.Address</p>
        <p class="card-text">@Model.PhoneNumber</p>
        <a href="#" class="btn btn-primary">Show Employee Details</a>
    </div>
</div>